<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Upcoming Events</h1>

<% @events.upcoming.each do |event| %>
  <%= render partial: "event", locals: {event: event, canAttend: true} %>
<% end %>


<h1>Past Events</h1>

<% @events.past.each do |event| %>
  <%= render partial: "event", locals: {event: event, canAttend: false} %>
<% end %>

